@import url(./styles.css);

.principal {
    background-color: var(--bg);
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: var(--font);
    color: var(--fg);
}


.alternativas {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.alternativa {
    display: flex;
    background-color: var(--white);
    padding: 1rem;
    border-radius: .5rem;
    width: 30rem;
    gap: 1rem;
    cursor: pointer;
    font-size: 1.2rem;
    
}


.correto {
    background-color: var(--accent-dim);
    color: var(--white);
}

.errado {
    background-color: var(--red);
    color: var(--red);
}

.errado .texto-alternativa {
    color: var(--bg);
}

h1 {
    color: var(--blue);
    font-weight: bold;
    font-size: 2rem;
}

.letra-alternativa,
.sinal-correto-div {
    font-size: 1.5rem;
    font-weight: bold;
    background-color: var(--bg);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.15rem;
    height: 3.15rem;
}


.sinal-correto {
    width: 2.18rem;
    height: 2.18rem;
}

.texto-alternativa {
    display: flex;
    align-items: center;
    font-weight: bold;
    color: var(--fg);
}

.quiz {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 5rem;
}

footer {
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--white);
}

.continuar__button {
    border: none;
    background-color: var(--accent);
    font-weight: bold;
    border-radius: .4rem;
    width: 15rem;
    height: 3.75rem;
    color: var(--white);
    cursor: pointer;

    &:disabled {
        background-color: var(--gray-plus);
    }
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 3rem;
}

.tema-quiz {
    flex-grow: 1;
    text-align: center;
    margin: 0 auto;
    font-size: 1.5rem;
    font-weight: bold;
}

.score {
    background-color: var(--white);
    display: flex;
    gap: .5rem;
    align-items: center;
    padding: .5rem .6rem;
    border-radius: .4rem;
    font-weight: bold;
}

.close__button {
    border: none;
    background-color: var(--white);
    font-weight: bold;
    font-size: 1.2rem;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 100%;
    cursor: pointer;
}

.progresso {
    display: flex;
    gap: 1rem;
    align-items: center;

    progress {
        appearance: none;
        width: 15rem;
        height: 0.93rem;
    }

    progress::-webkit-progress-bar {
        background-color: var(--bg);
        border-radius: .5rem;
        overflow: hidden;
    }

    progress::-webkit-progress-value {
        background-color: var(--accent);
        border-radius: .5rem;
    }
}

#status-questoes {
    color: var(--gray-dim);
    font-weight: bold;
    width: 5rem;
}

.progresso-mobile {
    display: none;
}

@media screen and (max-width: 430px) {
    header {
        padding: 0;
    }

    .principal {
        padding: 2rem;
        gap: 2.5rem;
        height: 90vh;
    }

    .tema-quiz {
        max-width: 12.5rem;
        margin: 0;
    }

    .quiz {
        flex: 0;
        gap: 0;
        justify-content: start;
    }

    .pergunta {
        height: 12rem;
    }

    .alternativas {
        gap: 2rem;
    }

    .alternativa {
        width: 22rem;
    }

    .progresso {
        display: none;
    }

    .progresso-mobile {
        display: flex;
        gap: 0;
        align-items: center;

        progress {
            appearance: none;
            width: 100%;
            height: 0.93rem;
        }

        progress::-webkit-progress-bar {
            background-color: var(--white);
            border-radius: .5rem;
            overflow: hidden;
        }

        progress::-webkit-progress-value {
            background-color: var(--accent);
            border-radius: .5rem;
        }
    }

    #status-questoes {
        width: 3rem;
        text-align: end;
    }

    footer {
        background-color: transparent;
        margin-top: auto;
        padding: 0;
    }

    .continuar__button {
        width: 22.8rem;
        font-size: 1rem;
    }
}

@media screen and (max-width: 393px) {
    .alternativa {
        width: 19rem;
    }
}

@media screen and (max-width: 375px) {
    header {
        padding: 0;
    }

    .principal {
        padding: 1rem;
        gap: 1rem;
        height: 90vh;
    }

    .tema-quiz {
        margin: 0;
    }

    .quiz {
        flex: 0;
        gap: 0;
        justify-content: start;
    }

    .pergunta {
        height: 12.5rem;
        font-size: 1.75rem;
    }

    .alternativas {
        gap: 1.5rem;
    }

    .alternativa {
        width: 18rem;
    }

    .letra-alternativa,
    .sinal-correto-div {
        font-size: 1.5rem;
        width: 2.5rem;
        height: 2.5rem;
    }

    .progresso {
        display: none;
    }

    .progresso-mobile {
        display: flex;
        gap: 0;
        align-items: center;

        progress {
            appearance: none;
            width: 100%;
            height: 0.93rem;
        }

        progress::-webkit-progress-bar {
            background-color: var(--white);
            border-radius: .5rem;
            overflow: hidden;
        }

        progress::-webkit-progress-value {
            background-color: var(--accent);
            border-radius: .5rem;
        }
    }

    #status-questoes {
        width: 3rem;
        text-align: end;
    }

    footer {
        background-color: transparent;
        padding: 0;
    }

    .continuar__button {
        width: 20rem;
        font-size: 1rem;
    }
}