@import url(./styles.css);

.results {
    display: flex;
    flex-direction: column;
    height: 90vh;
    background-color: var(--bg);
    padding: 2rem;
    font-family: var(--font);
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4rem;
    align-items: center;
}

.resultados {
    background-color: var(--white);
    border-radius: .5rem;
    width: 27rem;
}

.tema-quiz {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--blue);
}

.score-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .8rem 1.2rem;
    gap: .5rem;
}

.score-div img {
    border-radius: 100%;
    background-color: var(--bg);
    width: 1.8rem;
    height: 1.8rem;
    padding: .5rem;
}

.score-frase {
    margin: 0 auto 0 0;
    font-weight: 500;
}

.score-total,
.acertou-total {
    font-weight: bold;
}

.separator {
    height: 1px;
    background-color: var(--bg);
}

footer {
    display: flex;
    justify-content: center;
}

.okay__button {
    background-color: var(--accent);
    font-weight: bold;
    border-radius: .4rem;
    width: 27rem;
    height: 3.75rem;
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.close__button {
    border: none;
    background-color: var(--white);
    font-weight: bold;
    font-size: 1.2rem;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 100%;
    cursor: pointer;
    margin-left: auto;
}

header {
    display: flex;

}

@media screen and (max-width: 430px) {

    .tema-quiz {
        text-align: center;
    }

    .results {
        height: 90vh;
    }

    .resultados {
        width: 22.8rem;
    }

    .okay__button {
        width: 22.8rem;
    }
}

@media screen and (max-width: 393px) {
    .resultados, .okay__button {
        width: 22rem;
    }
}

@media screen and (max-width: 375px) {

    .resultados, .okay__button {
        width: 20rem;
    }

    main {
        gap: 2rem;
    }

    .results {
        height: 94vh;
        padding: 1rem 1rem 0;
    }

}